.sidebar-app {
  padding-left: @sidebar-width;
}

.sidebar {

  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: @sidebar-width;
  background: @sidebar-background-color;
  color: @sidebar-color;

  z-index: @sidebar-z-index;

  -webkit-transition: @sidebar-animation;
  -moz-transition: @sidebar-animation;
  -o-transition: @sidebar-animation;
  transition: @sidebar-animation;

  a {
    display: block;
    font-size: 24px;
    color: @sidebar-color;
  }

  .sidebar-toggle {
    position: absolute;
    top: 16px;
  }

  .sidebar-content {
    padding-top: 12px;
    a {
      padding: 1px 0px 1px 5px;
      border-left: 4px solid transparent;
      &.active {
        border-color: @sidebar-color;
      }
    }
  }

  .sidebar-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 24px;
  }
}

.sidebar-toggle {
  position: absolute;
  display: none;
}

@media(max-width:768px) {
  .app {
    padding-left: 0px;
  }
  .sidebar {
    left: -@sidebar-width;
  }
  .sidebar-expanded {
    left: 0px;
  }
  .sidebar-toggle {
    display: block;
  }
  .sidebar-app {
    padding-left: 0px;
  }
}
